<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Modules">
            <directory suffix="Test.php">./Modules/**/Tests</directory>
        </testsuite>

        <testsuite name="Modules-Feature">
            <directory suffix="Test.php">./Modules/**/Tests/Feature</directory>
        </testsuite>

        <testsuite name="Modules-Unit">
            <directory suffix="Test.php">./Modules/**/Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./modules</directory>
            <exclude>
                <directory suffix="blade.php">./modules</directory>
                <directory suffix=".php">./modules/**/Routes</directory>
                <directory suffix=".php">./modules/**/Resources</directory>
                <directory suffix=".php">./modules/**/Tests</directory>
                <directory suffix=".php">./modules/**/Config</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite_testing"/>
        <env name="DB_CONNECTION_TENANT" value="sqlite_testing_tenant"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <env name="TENANCY_DATABASE_AUTO_DELETE" value="1"/>
        <env name="TENANCY_DATABASE_AUTO_DELETE_USER" value="1"/>
        <env name="TENANCY_AUTO_HOSTNAME_IDENTIFICATION" value="0" />
    </php>
</phpunit>